.footer {
    padding: 60px 0;
    border-radius: 0 0 24px 24px;
    position: relative;
    overflow: hidden;

    &::after {
        content: "";
        display: block;
        width: 479px;
        height: 497px;
        border-radius: 50%;
        border: 1px solid black;
        position: absolute;
        bottom: -369px;
        right: -356px;
        background: #D5AEE4;
        opacity: 0.8;
        filter: blur(75px);
        transform: matrix(-1, 0, 0, 1, 0, 0);
    }

    &__wrap {
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
        gap: 30px;
        margin-bottom: 80px;
    }

    &__col-logo {
        flex: 0 1 220px;
    }

    &__logo {
        font-size: 44px;
        font-weight: 500;
        color: #181E4B;
        margin-bottom: 20px;
    }

    &__brand-motto {
        font-size: 13px;
        line-height: 16px;
        font-weight: 500;
        color: #5E6282;
    }

    &__col-nav {
        flex: 0 1 480px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 30px;
    }

    &__nav-title {
        font-size: 21px;
        font-weight: 700;
        line-height: 26px;
        color: #080809;
        margin: 0 0 34px;
    }

    &__navbar ul {
        margin: 0;
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    &__nav-link {
        font-size: 18px;
        line-height: 22px;
        font-weight: 500;
        color: #5E6282;
    }

    &__col-social {
        flex: 0 1 220px;
    }

    &__media-wrap ul {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 25px;
        margin: 0 0 26px;
    }

    &__icon {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 41px;
        height: 41px;
        border-radius: 50%;
        font-size: 16px;
        color: #080809;
        background-color: #fff;
        box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
        transition: color .6s ease;

    }

    &__media-wrap li:nth-child(2) .footer__icon {
        color: #fff;
        background: conic-gradient(from 180deg at 50% 50%, #B8D2F1 0deg, #F289AA 60deg, #C68BF0 106.09deg, #D164DA 153.75deg, #C963E8 221.25deg, #BFC2E8 258.75deg, #FFC999 288.75deg, #D0D8C9 315deg, #BAD0F1 334.13deg, #CED8CB 358.97deg, rgba(255, 255, 255, 0) 360deg);
    }

    &__media-title {
        font-size: 20px;
        font-weight: 500;
        line-height: 25px;
        color: #5E6282;
        margin: 0 0 16px;
    }

    &__app-wrap ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
        margin: 0;
    }

    &__app {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__copyrights {
        font-size: 14px;
        font-weight: 500;
        line-height: 18px;
        text-align: center;
        color: #5E6282;
        margin-bottom: 20px;
    }
}