@import './fonts';
@import '../css/normalize.css';

body {
    font-family: 'Poppins', sans-serif;
}

button,
select {
    cursor: pointer;
}

.wrapper {
    max-width: 1440px;
    margin: 0 auto;
    background-color: #fff;
}

.container {
    max-width: 1200px;
    padding: 0 20px;
    margin: 0 auto;
}

.top-title {
    font-size: 18px;
    font-weight: 600;
    color: #5E6282;
}

.title {
    margin: 20px 0 0 0;
    font-family: 'Volkhov', serif;
    font-size: 50px;
    font-weight: 700;
    color: #14183E;
}

.header {
    overflow: hidden;
    background: url(../assets/img/decore-header.jpg) right top / contain no-repeat;

    &__nav {
        min-height: 105px;
        padding: 20px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-family: 'Google Sans', sans-serif;
        font-size: 17px;
        font-weight: 500;
        color: #212832;

        nav {
            height: 40px;
            flex: 0 1 640px;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            gap: 45px;

            a {
                display: flex;
                justify-content: center;
                align-items: center;
                height: inherit;
            }
        }
    }

    &__login {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 45px;
        height: 40px;
        padding-left: 70px;

        button {
            width: 102px;
            height: inherit;
            border: 1px solid #212832;
            color: #212832;
            border-radius: 5px;
            background-color: transparent;
        }

        select {
            border: none;
            background-color: transparent;
            color: #212832;
        }

        a {
            display: flex;
            justify-content: center;
            align-items: center;
            height: inherit;
        }
    }

    .subheader-wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        padding: 80px 0;
        background: right top / contain no-repeat url(../assets/img/traveller.png),
            103% 15% / 15% no-repeat url(../assets/img/plane.png);

        &::after {
            content: url(../assets/img/plane.png);
            display: block;
            position: absolute;
            top: 6%;
            left: 48%;
            cursor: pointer;
        }
    }

    &__subheader-info {
        flex: 0 1 51.2%;
    }

    &__top-title {
        font-size: 20px;
        font-weight: 700;
        color: #DF6951;
        text-transform: uppercase;
        margin: 0 0 24px 0;
    }

    &__title {
        font-size: 84px;
        font-weight: 700;
        color: #181E4B;
        margin: 0 0 40px 0;
    }

    &__desc {
        padding: 0 26% 0 0;
        font-size: 16px;
        font-weight: 500;
        line-height: 30px;
        color: #5E6282;
    }

    &__btn-wrap {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-top: 34px;
        gap: 39px;
    }

    &__btn-find-more {
        width: 170px;
        height: 60px;
        border-radius: 10px;
        font-size: 18px;
        font-family: 'Google Sans', sans-serif;
        background-color: #F1A501;
        color: #fff;
    }

    &__label-play-demo {
        display: flex;
        align-items: center;
        gap: 20px;
        font-size: 17px;
        font-weight: 500;
        color: #686D77;
    }

    &__btn-play-demo {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 52px;
        height: 52px;
        border-radius: 50%;
        background-color: #DF6951;

        &::after {
            content: "";
            width: 0;
            height: 0;
            border: 10px solid transparent;
            border-left-color: #fff;
            position: relative;
            left: 7px;
        }
    }
}

.services {
    padding: 80px 0;
    text-align: center;

    &__top-title {
        text-transform: uppercase;
    }

    &__title {
        position: relative;

        &::after {
            content: "+ + + + +\A + + + + +\A + + + + +\A + + + +\A + + +";
            height: 166px;
            font-size: 22px;
            line-height: 34px;
            font-family: 'Roboto', sans-serif;
            font-weight: 400;
            letter-spacing: 7.7px;
            text-align: right;
            white-space: pre;
            position: absolute;
            top: 50%;
            right: 0;
            transform: translate(50%, -50%);
            background-clip: text;
            color: transparent;
            background-image: linear-gradient(135deg, #FF7152 0% 10%, rgba(255, 255, 255, 0) 10% 100%),
                radial-gradient(#6246e5 0% 10%, transparent 10% 100%),
                linear-gradient(to right, #E5E5E5 0% 100%);
        }
    }

    &__cards-wrap {
        margin: 70px 0 30px;
        display: flex;
        justify-content: space-between;
        gap: 10px;
    }

    &__card-hover {
        position: relative;
        z-index: 10;

        &:hover {
            &::before {
                display: block;
                content: "";
                width: 100px;
                height: 100px;
                background-color: #DF6951;
                position: absolute;
                border-radius: 30px 0 10px 0;
                left: -35px;
                bottom: -35px;
                z-index: -1;
            }
        }

        &:first-child {
            .services__card-img {
                &::after {
                    bottom: 35px;
                    right: 35px;
                }
            }
        }

        &:nth-child(2) {
            .services__card-img {
                &::after {
                    transform: rotate(90deg);
                    top: 40px;
                    left: 61px;
                }
            }
        }

        &:nth-child(3) {
            .services__card-img {
                &::after {
                    transform: rotate(-90deg);
                    top: 35px;
                    right: 50px;
                }
            }
        }

        &:last-child {
            .services__card-img {
                &::after {
                    transform: rotate(90deg);
                    bottom: 34px;
                    right: 43px;
                }
            }
        }
    }

    &__card {
        min-height: 314px;
        max-width: 270px;
        padding: 0 14.5% 10px;
        border-radius: 36px;
        background-color: #fff;
        text-align: center;
        cursor: pointer;

        &:hover {
            box-shadow: 0px 3px 10px 2px rgba(0, 0, 0, 0.3);
        }

        &-img {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 154px;

            &::after {
                content: "";
                display: block;
                width: 50px;
                height: 50px;
                border-radius: 10px 5px 18px 5px;
                background-color: #FFF1DA;
                position: absolute;
                z-index: 1;
            }

            img {
                max-height: 100%;
                position: relative;
                z-index: 10;
            }
        }

        &-title {
            font-family: 'Open Sans', sans-serif;
            font-size: 20px;
            font-weight: 600;
            color: #1E1D4C;
            margin: 0;
        }

        &-text {
            font-size: 16px;
            line-height: 26px;
            font-weight: 500;
            color: #5E6282;
        }
    }
}

.destinations {
    padding: 40px 0;
    text-align: center;

    &__cards-wrap {
        margin-top: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 35px;
    }

    &__card {
        position: relative;
        z-index: 10;

        &:first-child {
            .destinations__card-container {
                background: center -3px / 152% 140% no-repeat url(../assets/img/rome.jpg);
            }
        }

        &:nth-child(2) {
            .destinations__card-container {
                background: center -3px / 152% 140% no-repeat url(../assets/img/london.jpg);
            }
        }

        &:last-child {
            margin: 0 60px 0 25px;

            .destinations__card-container {
                background: center -3px / 152% 140% no-repeat url(../assets/img/europe.jpg);
            }

            &::after {
                content: url(../assets/img/decore-destination.png);
                position: absolute;
                right: -65px;
                bottom: 40px;
                z-index: -1;
            }
        }
    }

    &__card-container {
        max-width: 315px;
        height: 457px;
        border-radius: 24px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        box-shadow: 0px 3px 10px 2px rgba(0, 0, 0, 0.3);
        transition: transform .3s ease, box-shadow .3s ease;

        &:hover {
            transform: scale(1.1);
            box-shadow: 0px 3px 14px 3px rgba(0, 0, 0, 0.4);
        }
    }

    &__card-info {
        height: 130px;
        padding: 27px 20px 40px;
        border-radius: 0 0 24px 24px;
        background-color: #fff;
        color: #5E6282;
        font-weight: 500;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 20px 40px;
    }

    &__card-name,
    &__card-price {
        font-size: 18px;
    }

    &__card-duration {
        position: relative;
        padding-left: 32px;

        &::before {
            content: url(../assets/img/navigation.svg);
            position: absolute;
            left: 0;
        }
    }
}

@import './media';