@import './fonts';
@import '../css/normalize.css';

body {
    font-family: 'Poppins', sans-serif;
    background-color: #fff;
}

button,
select {
    cursor: pointer;
}

.container {
    max-width: 1200px;
    padding: 0 20px;
    margin: 0 auto;
}

.top-title {
    font-size: 18px;
    font-weight: 600;
    color: #5E6282;
}

.title {
    margin: 20px 0 0 0;
    font-family: 'Volkhov', serif;
    font-size: 50px;
    font-weight: 700;
    color: #14183E;
}

@import './header';
@import './services';
@import './destinations';
@import './booking';
@import './testimonials';
@import './logos';
@import './subscribe';
@import './media';