@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Poppins:wght@500;600&family=Raleway:wght@500&display=swap");
@import '../css/normalize.css';
@font-face {
  font-family: "Basic Sans SF";
  src: local("Basic Sans SF Bold"), local("BasicSansSF-Bold"), url("../assets/fonts/BasicSansSF-Bold.woff2") format("woff2"), url("../assets/fonts/BasicSansSF-Bold.woff") format("woff"), url("../assets/fonts/BasicSansSF-Bold.eot") format("eot"), url("../assets/fonts/BasicSansSF-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
.btn {
  background-color: #37806B;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
}

.subtitle {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
  color: #646464;
  margin: 0 0 20px;
}

.title {
  font-family: "Poppins", sans-serif;
  font-size: 48px;
  font-weight: 500;
  line-height: 60px;
  color: #212121;
  margin: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  color: #646464;
  background-color: #fff;
}

p {
  margin: 0;
}

button,
select {
  cursor: pointer;
}

.container {
  max-width: 1440px;
  padding: 0 20px;
  margin: 0 auto;
}

@media (max-width: 1639.98px) {
  .container {
    max-width: 1340px;
  }
}
@media (max-width: 1439.98px) {
  .container {
    max-width: 1140px;
  }
}
@media (max-width: 1199.98px) {
  .container {
    max-width: 960px;
  }
}
@media (max-width: 991.98px) {
  .container {
    max-width: 720px;
    padding: 0 10px;
  }
}
@media (max-width: 759.98px) {
  .container {
    max-width: 550px;
  }
}
@media (max-width: 575.98px) {
  .container {
    max-width: 100%;
    padding: 0 4%;
  }
}
.logo {
  cursor: pointer;
}

.header {
  min-height: 47px;
  margin: 90px 0;
}
.header__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__logo {
  line-height: 0;
}
.header__nav {
  margin-left: auto;
}
.header__nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
  margin: 0;
}
.header__nav ul li a {
  display: block;
  height: inherit;
  font-size: 16px;
  font-weight: 600;
  color: #212121;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.header__nav ul li a:hover {
  color: #646464;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.header__sign-up {
  display: block;
  padding: 7px 20px;
  border-radius: 15px 0 15px 0;
  background-color: #CAA892;
  color: #fff;
  margin-left: 60px;
  font-size: 16px;
  font-weight: 600;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}
.header__sign-up:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

@media (max-width: 1439.98px) {
  .header__nav {
    margin: 0;
  }
  .header__sign-up {
    margin: 0;
  }
}
@media (max-width: 1199.98px) {
  .header__nav ul {
    gap: 30px;
  }
}
@media (max-width: 991.98px) {
  .header__wrap {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px 40px;
  }
  .header__logo {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .header__sign-up {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .header__nav {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    width: 100%;
    margin: 0 auto;
  }
  .header__nav ul {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.interior {
  position: relative;
  margin-bottom: 240px;
}
.interior::before {
  content: " . . . . . . . . . . . . . . . . . . .\a  . . . . . . . . . . . . . . . . . . .\a  . . . . . . . . . . . . . . . . . . .\a  . . . . . . . . . . . . . . . . . . .\a  . . . . . . . . . . . . . . . . . . .\a  . . . . . . . . . . . . . . . . . . .\a  . . . . . . . . . . . . . . . . . . .\a  . . . . . . . . . . . . . . . . . . .\a  . . . . . . . . . . . . . . . . . . .\a  . . . . . . . . . . . . . . . . . . .\a  . . . . . . . . . . . . . . . . . . .\a  . . . . . . . . . . . . . . . . . . .\a  . . . . . . . . . . . . . . . . . . .\a  . . . . . . . . . . . . . . . . . . .\a  . . . . . . . . . . . . . . . . . . .\a  . . . . . . . . . . . . . . . . . . .\a  . . . . . . . . . . . . . . . . . . .";
  height: 150px;
  font-size: 22px;
  line-height: 8px;
  font-weight: 400;
  letter-spacing: 0px;
  color: #EBEBEB;
  white-space: pre;
  position: absolute;
  bottom: 0;
  left: 0;
  -webkit-transform: translate(0, 50%);
          transform: translate(0, 50%);
}
.interior__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 30px;
}
.interior__info {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 48%;
          flex: 0 1 48%;
  margin-top: 70px;
}
.interior__sibetitle {
  font-weight: 600;
}
.interior__title {
  font-size: 72px;
  font-weight: 600;
  line-height: 78px;
  margin-bottom: 50px;
}
.interior__text {
  line-height: 30px;
  margin-bottom: 60px;
}
.interior__btn {
  padding: 14px 30px;
  border-radius: 20px 0;
  font-size: 18px;
}
.interior__image {
  width: 100%;
  height: 620px;
  position: relative;
  top: 34px;
  left: 34px;
  border: 2px solid #B0855B;
  border-radius: 140px 0px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 52%;
          flex: 0 1 52%;
}
.interior__image img {
  display: block;
  max-width: 100%;
  height: inherit;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 140px 0px;
  position: relative;
  top: -34px;
  left: -34px;
}

@media (max-width: 1439.98px) {
  .interior__title {
    font-size: 60px;
    line-height: 72px;
  }
}
@media (max-width: 1199.98px) {
  .interior__title {
    font-size: 48px;
    line-height: 64px;
  }
  .interior__image {
    left: 20px;
  }
  .interior__image img {
    left: -20px;
  }
}
@media (max-width: 991.98px) {
  .interior__wrap {
    gap: 20px;
  }
  .interior__title {
    font-size: 36px;
    line-height: 52px;
    margin-bottom: 40px;
  }
  .interior__text {
    margin-bottom: 40px;
  }
}/*# sourceMappingURL=style.css.map */