@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans:wght@600&family=Poppins:wght@400;500;600;700&family=Roboto&family=Volkhov:wght@700&display=swap");
@import '../css/normalize.css';
@font-face {
  font-family: "Google Sans";
  src: local("Google Sans Medium"), local("GoogleSans-Medium"), url("../assets/fonts/GoogleSans-Medium.woff2") format("woff2"), url("../assets/fonts/GoogleSans-Medium.woff") format("woff"), url("../assets/fonts/GoogleSans-Medium.eot") format("eot"), url("../assets/fonts/GoogleSans-Medium.ttf") format("truetype"), url("../assets/fonts/GoogleSans-Medium.otf") format("opentype"), url("../assets/fonts/GoogleSans-Medium.svg") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
body {
  font-family: "Poppins", sans-serif;
}

button,
select {
  cursor: pointer;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
  background-color: #fff;
}

.container {
  max-width: 1200px;
  padding: 0 20px;
  margin: 0 auto;
}

.top-title {
  font-size: 18px;
  font-weight: 600;
  color: #5E6282;
}

.title {
  margin: 20px 0 0 0;
  font-family: "Volkhov", serif;
  font-size: 50px;
  font-weight: 700;
  color: #14183E;
}

.header {
  overflow: hidden;
  background: url(../assets/img/decore-header.jpg) right top/contain no-repeat;
}
.header__nav {
  min-height: 105px;
  padding: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Google Sans", sans-serif;
  font-size: 17px;
  font-weight: 500;
  color: #212832;
}
.header__nav nav {
  height: 40px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 640px;
          flex: 0 1 640px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 45px;
}
.header__nav nav a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: inherit;
}
.header__login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 45px;
  height: 40px;
  padding-left: 70px;
}
.header__login button {
  width: 102px;
  height: inherit;
  border: 1px solid #212832;
  color: #212832;
  border-radius: 5px;
  background-color: transparent;
}
.header__login select {
  border: none;
  background-color: transparent;
  color: #212832;
}
.header__login a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: inherit;
}
.header .subheader-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding: 80px 0;
  background: right top/contain no-repeat url(../assets/img/traveller.png), 103% 15%/15% no-repeat url(../assets/img/plane.png);
}
.header .subheader-wrap::after {
  content: url(../assets/img/plane.png);
  display: block;
  position: absolute;
  top: 6%;
  left: 48%;
  cursor: pointer;
}
.header__subheader-info {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 51.2%;
          flex: 0 1 51.2%;
}
.header__top-title {
  font-size: 20px;
  font-weight: 700;
  color: #DF6951;
  text-transform: uppercase;
  margin: 0 0 24px 0;
}
.header__title {
  font-size: 84px;
  font-weight: 700;
  color: #181E4B;
  margin: 0 0 40px 0;
}
.header__desc {
  padding: 0 26% 0 0;
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
  color: #5E6282;
}
.header__btn-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 34px;
  gap: 39px;
}
.header__btn-find-more {
  width: 170px;
  height: 60px;
  border-radius: 10px;
  font-size: 18px;
  font-family: "Google Sans", sans-serif;
  background-color: #F1A501;
  color: #fff;
}
.header__label-play-demo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  font-size: 17px;
  font-weight: 500;
  color: #686D77;
}
.header__btn-play-demo {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 52px;
  height: 52px;
  border-radius: 50%;
  background-color: #DF6951;
}
.header__btn-play-demo::after {
  content: "";
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-left-color: #fff;
  position: relative;
  left: 7px;
}

.services {
  padding: 80px 0;
  text-align: center;
}
.services__top-title {
  text-transform: uppercase;
}
.services__title {
  position: relative;
}
.services__title::after {
  content: "+ + + + +\a+ + + + +\a+ + + + +\a+ + + +\a+ + +";
  height: 166px;
  font-size: 22px;
  line-height: 34px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  letter-spacing: 7.7px;
  text-align: right;
  white-space: pre;
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
  background-image: linear-gradient(135deg, #FF7152 0% 10%, rgba(255, 255, 255, 0) 10% 100%), radial-gradient(#6246e5 0% 10%, transparent 10% 100%), linear-gradient(to right, #E5E5E5 0% 100%);
}
.services__cards-wrap {
  margin: 70px 0 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 10px;
}
.services__card-hover {
  position: relative;
  z-index: 10;
}
.services__card-hover:hover::before {
  display: block;
  content: "";
  width: 100px;
  height: 100px;
  background-color: #DF6951;
  position: absolute;
  border-radius: 30px 0 10px 0;
  left: -35px;
  bottom: -35px;
  z-index: -1;
}
.services__card-hover:first-child .services__card-img::after {
  bottom: 35px;
  right: 35px;
}
.services__card-hover:nth-child(2) .services__card-img::after {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  top: 40px;
  left: 61px;
}
.services__card-hover:nth-child(3) .services__card-img::after {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  top: 35px;
  right: 50px;
}
.services__card-hover:last-child .services__card-img::after {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  bottom: 34px;
  right: 43px;
}
.services__card {
  min-height: 314px;
  max-width: 270px;
  padding: 0 14.5% 10px;
  border-radius: 36px;
  background-color: #fff;
  text-align: center;
  cursor: pointer;
}
.services__card:hover {
  -webkit-box-shadow: 0px 3px 10px 2px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 3px 10px 2px rgba(0, 0, 0, 0.3);
}
.services__card-img {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 154px;
}
.services__card-img::after {
  content: "";
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 10px 5px 18px 5px;
  background-color: #FFF1DA;
  position: absolute;
  z-index: 1;
}
.services__card-img img {
  max-height: 100%;
  position: relative;
  z-index: 10;
}
.services__card-title {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-weight: 600;
  color: #1E1D4C;
  margin: 0;
}
.services__card-text {
  font-size: 16px;
  line-height: 26px;
  font-weight: 500;
  color: #5E6282;
}

.destinations {
  padding: 40px 0;
  text-align: center;
}
.destinations__cards-wrap {
  margin-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 35px;
}
.destinations__card {
  position: relative;
  z-index: 10;
}
.destinations__card:first-child .destinations__card-container {
  background: center -3px/152% 140% no-repeat url(../assets/img/rome.jpg);
}
.destinations__card:nth-child(2) .destinations__card-container {
  background: center -3px/152% 140% no-repeat url(../assets/img/london.jpg);
}
.destinations__card:last-child {
  margin: 0 60px 0 25px;
}
.destinations__card:last-child .destinations__card-container {
  background: center -3px/152% 140% no-repeat url(../assets/img/europe.jpg);
}
.destinations__card:last-child::after {
  content: url(../assets/img/decore-destination.png);
  position: absolute;
  right: -65px;
  bottom: 40px;
  z-index: -1;
}
.destinations__card-container {
  max-width: 315px;
  height: 457px;
  border-radius: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-shadow: 0px 3px 10px 2px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 3px 10px 2px rgba(0, 0, 0, 0.3);
  -webkit-transition: -webkit-transform 0.3s ease, -webkit-box-shadow 0.3s ease;
  transition: -webkit-transform 0.3s ease, -webkit-box-shadow 0.3s ease;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  transition: transform 0.3s ease, box-shadow 0.3s ease, -webkit-transform 0.3s ease, -webkit-box-shadow 0.3s ease;
}
.destinations__card-container:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-box-shadow: 0px 3px 14px 3px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 3px 14px 3px rgba(0, 0, 0, 0.4);
}
.destinations__card-info {
  height: 130px;
  padding: 27px 20px 40px;
  border-radius: 0 0 24px 24px;
  background-color: #fff;
  color: #5E6282;
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px 40px;
}
.destinations__card-name, .destinations__card-price {
  font-size: 18px;
}
.destinations__card-duration {
  position: relative;
  padding-left: 32px;
}
.destinations__card-duration::before {
  content: url(../assets/img/navigation.svg);
  position: absolute;
  left: 0;
}

@media (max-width: 1439.98px) {
  .services__title::after {
    -webkit-transform: translate(0%, -50%);
            transform: translate(0%, -50%);
    right: -20px;
  }
}
@media (max-width: 1199.98px) {
  .header__title {
    font-size: 70px;
  }
  .services__card {
    padding: 0 8% 10px;
  }
  .destinations__cards-wrap {
    gap: 20px;
  }
  .destinations__card:last-child {
    margin: 0 20px;
  }
  .destinations__card:last-child::after {
    right: -40px;
  }
}
@media (max-width: 999.98px) {
  .header__title {
    font-size: 58px;
  }
}
@media (max-width: 991.98px) {
  .header__nav {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 20px;
  }
  .header__nav nav {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .header__login {
    gap: 30px;
  }
  .header .subheader-wrap {
    padding: 60px 0;
    background: right top/60% no-repeat url(../assets/img/Traveller.png), 103% 10%/15% no-repeat url(../assets/img/plane.png);
  }
  .header .subheader-wrap::after {
    top: -8%;
    left: 45%;
  }
  .services {
    padding: 60px 0;
  }
  .services__title::after {
    content: none;
  }
  .services__cards-wrap {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 0 71px;
  }
  .services__card {
    padding: 0 14.5% 10px;
  }
  .destinations__cards-wrap {
    gap: 40px 25px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .destinations__card:last-child {
    margin: 0;
  }
  .destinations__card:last-child::after {
    content: none;
  }
}
@media (max-width: 839.98px) {
  .header__top-title {
    font-size: 18px;
  }
  .header__title {
    font-size: 53px;
  }
  .header__desc {
    padding: 0 10% 0 0;
  }
}
@media (max-width: 767.98px) {
  .title {
    font-size: 36px;
  }
  .header__nav nav {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header__login {
    gap: 20px;
  }
  .header .subheader-wrap {
    padding: 50px 0;
    background: transparent;
  }
  .header .subheader-wrap::after {
    content: none;
  }
  .header__subheader-info {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    text-align: center;
  }
  .header__btn-wrap {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header__desc {
    padding-right: 0;
  }
  .services {
    padding: 50px 0;
  }
  .services__cards-wrap {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 20px;
    margin: 20px 0;
  }
}
@media (max-width: 479.98px) {
  .container {
    padding: 0 10px;
  }
  .header__nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header__nav nav {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 10px;
    overflow: auto;
    width: 100%;
  }
  .header__login {
    padding-left: 0;
  }
  .header .subheader-wrap {
    padding: 40px 0;
  }
  .header__top-title {
    font-size: 14px;
    margin-bottom: 10px;
  }
  .header__title {
    margin-bottom: 20px;
  }
  .header__btn-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px;
  }
  .header__label-play-demo {
    gap: 10px;
    font-size: 16px;
  }
  .services {
    padding: 40px 0;
  }
}/*# sourceMappingURL=style.css.map */