@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans:wght@600&family=Poppins:wght@400;500;600;700&family=Roboto&family=Volkhov:wght@700&display=swap");
@import '../css/normalize.css';
@font-face {
  font-family: "Google Sans";
  src: local("Google Sans Medium"), local("GoogleSans-Medium"), url("../assets/fonts/GoogleSans-Medium.woff2") format("woff2"), url("../assets/fonts/GoogleSans-Medium.woff") format("woff"), url("../assets/fonts/GoogleSans-Medium.eot") format("eot"), url("../assets/fonts/GoogleSans-Medium.ttf") format("truetype"), url("../assets/fonts/GoogleSans-Medium.otf") format("opentype"), url("../assets/fonts/GoogleSans-Medium.svg") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: #fff;
}

button,
select {
  cursor: pointer;
}

.container {
  max-width: 1200px;
  padding: 0 20px;
  margin: 0 auto;
}

.top-title {
  font-size: 18px;
  font-weight: 600;
  color: #5E6282;
}

.title {
  margin: 20px 0 0 0;
  font-family: "Volkhov", serif;
  font-size: 50px;
  font-weight: 700;
  color: #14183E;
}

.header {
  overflow: hidden;
  background: center/cover no-repeat url(../assets/img/header/header-decore-bg.jpg);
}
.header__nav {
  min-height: 105px;
  padding: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Google Sans", sans-serif;
  font-size: 17px;
  font-weight: 500;
  color: #212832;
}
.header__nav nav {
  height: 40px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 640px;
          flex: 0 1 640px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 45px;
}
.header__nav nav a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: inherit;
}
.header__login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 45px;
  height: 40px;
  padding-left: 70px;
}
.header__login button {
  width: 102px;
  height: inherit;
  border: 1px solid #212832;
  color: #212832;
  border-radius: 5px;
  background-color: transparent;
}
.header__login select {
  border: none;
  background-color: transparent;
  color: #212832;
}
.header__login a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: inherit;
}
.header .subheader-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding: 80px 0;
  background: right top/contain no-repeat url(../assets/img/header/header-traveller-bg.png), 103% 15%/15% no-repeat url(../assets/img/plane.svg);
}
.header .subheader-wrap::after {
  content: url(../assets/img/plane.svg);
  display: block;
  position: absolute;
  top: 5%;
  left: 48%;
  cursor: pointer;
}
.header__subheader-info {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 51.2%;
          flex: 0 1 51.2%;
}
.header__top-title {
  font-size: 20px;
  font-weight: 700;
  color: #DF6951;
  text-transform: uppercase;
  margin: 0 0 24px 0;
}
.header__title {
  font-size: 84px;
  font-weight: 700;
  color: #181E4B;
  margin: 0 0 40px 0;
}
.header__desc {
  padding: 0 26% 0 0;
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
  color: #5E6282;
}
.header__btn-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 34px;
  gap: 39px;
}
.header__btn-find-more {
  width: 170px;
  height: 60px;
  border-radius: 10px;
  font-size: 18px;
  font-family: "Google Sans", sans-serif;
  background-color: #F1A501;
  color: #fff;
}
.header__label-play-demo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  font-size: 17px;
  font-weight: 500;
  color: #686D77;
}
.header__btn-play-demo {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 52px;
  height: 52px;
  border-radius: 50%;
  background-color: #DF6951;
}
.header__btn-play-demo::after {
  content: "";
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-left-color: #fff;
  position: relative;
  left: 7px;
}

.services {
  padding: 80px 0;
  text-align: center;
}
.services__top-title {
  text-transform: uppercase;
}
.services__title {
  position: relative;
}
.services__title::after {
  content: "+ + + + +\a+ + + + +\a+ + + + +\a+ + + +\a+ + +";
  height: 166px;
  font-size: 22px;
  line-height: 34px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  letter-spacing: 7.7px;
  text-align: right;
  white-space: pre;
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
  background-image: linear-gradient(135deg, #FF7152 0% 10%, rgba(255, 255, 255, 0) 10% 100%), radial-gradient(#6246e5 0% 10%, transparent 10% 100%), linear-gradient(to right, #E5E5E5 0% 100%);
}
.services__cards-wrap {
  margin: 70px 0 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 10px;
}
.services__card-hover {
  position: relative;
  z-index: 10;
}
.services__card-hover::before {
  display: block;
  content: "";
  width: 100px;
  height: 100px;
  background-color: #DF6951;
  position: absolute;
  border-radius: 30px 0 10px 0;
  left: -35px;
  bottom: -35px;
  z-index: -1;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  opacity: 0;
}
.services__card-hover:hover::before {
  opacity: 1;
}
.services__card-hover:first-child .services__card-img::after {
  bottom: 35px;
  right: 35px;
}
.services__card-hover:nth-child(2) .services__card-img::after {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  top: 40px;
  left: 61px;
}
.services__card-hover:nth-child(3) .services__card-img::after {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  top: 35px;
  right: 50px;
}
.services__card-hover:last-child .services__card-img::after {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  bottom: 34px;
  right: 43px;
}
.services__card {
  min-height: 314px;
  max-width: 264px;
  padding: 0 14% 10px;
  border-radius: 36px;
  background-color: #fff;
  text-align: center;
  cursor: pointer;
  -webkit-transition: -webkit-box-shadow 0.3s ease;
  transition: -webkit-box-shadow 0.3s ease;
  transition: box-shadow 0.3s ease;
  transition: box-shadow 0.3s ease, -webkit-box-shadow 0.3s ease;
}
.services__card:hover {
  -webkit-box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
          box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
}
.services__card-img {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 154px;
}
.services__card-img::after {
  content: "";
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 10px 5px 18px 5px;
  background-color: #FFF1DA;
  position: absolute;
  z-index: 1;
}
.services__card-img img {
  max-height: 100%;
  position: relative;
  z-index: 10;
}
.services__card-title {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-weight: 600;
  color: #1E1D4C;
  margin: 0;
}
.services__card-text {
  padding: 0 4px;
  font-size: 16px;
  line-height: 26px;
  font-weight: 500;
  color: #5E6282;
}

.destinations {
  padding: 40px 0;
  text-align: center;
}
.destinations__cards-wrap {
  margin-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 35px;
}
.destinations__card {
  position: relative;
  z-index: 10;
  cursor: pointer;
}
.destinations__card:first-child .destinations__card-container {
  background: center -3px/152% 140% no-repeat url(../assets/img/destinations/destination-rome.png);
}
.destinations__card:nth-child(2) .destinations__card-container {
  background: center -3px/152% 140% no-repeat url(../assets/img/destinations/destination-london.png);
}
.destinations__card:last-child {
  margin: 0 60px 0 25px;
}
.destinations__card:last-child .destinations__card-container {
  background: center -3px/152% 140% no-repeat url(../assets/img/destinations/destination-europe.png);
}
.destinations__card:last-child::after {
  content: url(../assets/img/destinations/destination-decore.png);
  position: absolute;
  right: -65px;
  bottom: 40px;
  z-index: -1;
}
.destinations__card-container {
  max-width: 315px;
  min-height: 457px;
  border-radius: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-filter: drop-shadow(0px 100px 80px rgba(0, 0, 0, 0.02)) drop-shadow(0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852)) drop-shadow(0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481)) drop-shadow(0px 20px 13px rgba(0, 0, 0, 0.01)) drop-shadow(0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185)) drop-shadow(0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481));
          filter: drop-shadow(0px 100px 80px rgba(0, 0, 0, 0.02)) drop-shadow(0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852)) drop-shadow(0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481)) drop-shadow(0px 20px 13px rgba(0, 0, 0, 0.01)) drop-shadow(0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185)) drop-shadow(0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481));
  -webkit-transition: -webkit-transform 0.3s ease, -webkit-box-shadow 0.3s ease;
  transition: -webkit-transform 0.3s ease, -webkit-box-shadow 0.3s ease;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  transition: transform 0.3s ease, box-shadow 0.3s ease, -webkit-transform 0.3s ease, -webkit-box-shadow 0.3s ease;
}
.destinations__card-container:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-box-shadow: 0px 3px 14px 3px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 3px 14px 3px rgba(0, 0, 0, 0.4);
}
.destinations__card-info {
  min-height: 130px;
  padding: 27px 20px 40px;
  border-radius: 0 0 23px 23px;
  background-color: #fff;
  color: #5E6282;
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px 40px;
}
.destinations__card-name, .destinations__card-price {
  font-size: 18px;
}
.destinations__card-duration {
  position: relative;
  padding-left: 32px;
}
.destinations__card-duration::before {
  content: url(../assets/img/destinations/destination-navigation.svg);
  position: absolute;
  left: 0;
}

.booking {
  padding: 100px 0;
}
.booking__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 60px;
}
.booking__col-text {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  max-width: 565px;
}
.booking__title {
  text-transform: capitalize;
}
.booking__steps {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 48px;
}
.booking__step {
  width: 80%;
  padding-left: 70px;
  position: relative;
}
.booking__step::before {
  content: "";
  width: 48px;
  height: 48px;
  border-radius: 13px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 0;
  position: absolute;
  left: 0;
}
.booking__step:first-child::before {
  background-color: #F0BB1F;
  content: url(../assets/img/booking/booking-step-1.svg);
}
.booking__step:nth-child(2)::before {
  background-color: #F15A2B;
  content: url(../assets/img/booking/booking-step-2.svg);
}
.booking__step:last-child::before {
  background-color: #006380;
  content: url(../assets/img/booking/booking-step-3.svg);
}
.booking__step-header {
  margin: 0;
  color: #5E6282;
  font-size: 16px;
  font-weight: 700;
}
.booking__step-text {
  margin: 5px 0 0 0;
  color: #5E6282;
  font-size: 16px;
}
.booking__col-card {
  position: relative;
  z-index: 10;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 500px;
          flex: 0 0 500px;
  -ms-flex-item-align: end;
      align-self: flex-end;
}
.booking__col-card::before {
  content: "";
  position: absolute;
  width: 354px;
  height: 367px;
  border-radius: 50%;
  top: -60px;
  left: 60px;
  background: #59B1E6;
  opacity: 0.8;
  -webkit-filter: blur(75px);
          filter: blur(75px);
  z-index: -1;
}
.booking__card {
  position: relative;
  max-width: 370px;
  min-height: 400px;
  padding: 25px;
  background-color: #fff;
  -webkit-box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
          box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
  border-radius: 26px;
}
.booking__card-img {
  width: 100%;
  height: 160px;
  border-radius: 24px;
  background: center/cover no-repeat url(../assets/img/booking/booking-card.jpg);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border: 1px solid #000;
}
.booking__card-header {
  margin: 26px 0 13px;
  font-weight: 500;
  font-size: 18px;
  color: #080809;
}
.booking__card-duration-trip {
  margin-bottom: 21px;
  font-weight: 500;
  font-size: 16px;
  color: #84829A;
}
.booking__card-duration-trip span {
  margin: 0 13px 0 3px;
  font-weight: 400;
}
.booking__card-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 18px;
}
.booking__card-icon {
  margin-bottom: 30px;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: #F5F5F5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 0;
  cursor: pointer;
}
.booking__card-icon:first-child::before {
  content: url(../assets/img/booking/booking-leaf.svg);
}
.booking__card-icon:nth-child(2)::before {
  content: url(../assets/img/booking/booking-map.svg);
}
.booking__card-icon:last-child::before {
  content: url(../assets/img/booking/booking-send.svg);
}
.booking__card-people-going {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}
.booking__card-people-number {
  position: relative;
  padding-left: 31px;
  font-size: 16px;
  font-weight: 500;
  color: #84829A;
}
.booking__card-people-number::before {
  content: url(../assets/img/booking/booking-house.svg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 0;
  position: absolute;
  left: 0;
}
.booking__card-btn-like {
  background-color: transparent;
}
.booking__card-btn-like::before {
  content: url(../assets/img/booking/booking-heart.svg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 0;
}
.booking__card-pop-up {
  position: absolute;
  bottom: 50px;
  right: 0;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
  height: 130px;
  width: 260px;
  border-radius: 18px;
  padding: 20px 20px 20px 82px;
  background-color: #fff;
  -webkit-box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
          box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
}
.booking__card-pop-up::before {
  content: "";
  width: 50px;
  height: 50px;
  background: center/cover no-repeat url(../assets/img/booking/booking-pop-up.png);
  border-radius: 50%;
  position: absolute;
  left: 20px;
}
.booking__pop-up-top-title {
  font-size: 14px;
  font-weight: 500;
  color: #84829A;
}
.booking__pop-up-title {
  font-size: 18px;
  font-weight: 500;
  color: #080809;
  margin: 6px 0 14px;
}
.booking__pop-up-completed {
  font-size: 14px;
  font-weight: 500;
  color: #080809;
}
.booking__pop-up-completed span {
  color: #8A79DF;
}
.booking__pop-up-outer-loader {
  margin-top: 10px;
  width: 100%;
  height: 5px;
  border-radius: 30px;
  background-color: #F5F5F5;
}
.booking__pop-up-inner-loader {
  height: inherit;
  width: 40%;
  border-radius: 30px;
  background-color: #8A79DF;
}

.testimonials {
  padding: 100px 0;
}
.testimonials__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 80px;
}
.testimonials__col-titles {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  max-width: 450px;
}
.testimonials__title {
  text-transform: capitalize;
}
.testimonials__col-comments {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 500px;
          flex: 0 0 500px;
}
.testimonials__comments-wrap {
  position: relative;
  max-width: 500px;
  padding: 30px;
  margin-top: 40px;
  background-color: #fff;
  -webkit-box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
          box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
  border-radius: 10px;
}
.testimonials__comments-wrap::before {
  content: url(../assets/img/testimonials/testimonials-avatar.png);
  width: 68px;
  height: 68px;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.testimonials__comments-text {
  width: 90%;
  margin: 0;
  font-size: 16px;
  line-height: 32px;
  font-weight: 500;
  color: #5E6282;
}
.testimonials__comments-name {
  margin: 34px 0 5px;
  font-size: 18px;
  font-weight: 600;
  color: #5E6282;
}
.testimonials__comments-location {
  font-size: 14px;
  font-weight: 500;
  color: #5E6282;
}

.logos {
  padding: 60px 0;
}
.logos__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}
.logos__item {
  padding: 15px 40px;
  height: 80px;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  -webkit-transition: background-color 0.4s ease, -webkit-box-shadow 0.4s ease;
  transition: background-color 0.4s ease, -webkit-box-shadow 0.4s ease;
  transition: background-color 0.4s ease, box-shadow 0.4s ease;
  transition: background-color 0.4s ease, box-shadow 0.4s ease, -webkit-box-shadow 0.4s ease;
}
.logos__item img {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  -webkit-transition: -webkit-filter 0.4s ease;
  transition: -webkit-filter 0.4s ease;
  transition: filter 0.4s ease;
  transition: filter 0.4s ease, -webkit-filter 0.4s ease;
}
.logos__item:hover {
  background-color: #fff;
  -webkit-box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
          box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
}
.logos__item:hover img {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}

.subscribe {
  padding: 60px 0;
}
.subscribe__form {
  position: relative;
  text-align: center;
  min-height: 407px;
  padding: 78px 150px;
  border-radius: 129px 20px 20px 20px;
  background: right center/cover no-repeat url(../assets/img/subscribe/subscribe-bg.jpg);
}
.subscribe__form::before {
  content: url(../assets/img/subscribe/subscribe-send.png);
  max-width: 68px;
  position: absolute;
  top: -13px;
  right: -20px;
}
.subscribe__form::after {
  content: "+ + +\a+ + +\a+ + +\a+ + + +\a+    + + +";
  height: 166px;
  font-size: 22px;
  line-height: 34px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  letter-spacing: 7.7px;
  text-align: right;
  white-space: pre;
  position: absolute;
  bottom: 0;
  right: 0;
  -webkit-transform: translate(64%, 43%);
          transform: translate(64%, 43%);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
  background-image: linear-gradient(225deg, #FF7152 0% 12%, rgba(255, 255, 255, 0) 10% 100%), radial-gradient(#6246e5 0% 10%, transparent 10% 100%), linear-gradient(to right, #E5E5E5 0% 100%);
}
.subscribe__label-email {
  display: block;
  margin-bottom: 74px;
  font-size: 33px;
  line-height: 54px;
  font-weight: 600;
  color: #5E6282;
}
.subscribe__input-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 24px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.subscribe__input-email {
  position: relative;
  width: 50%;
  height: 68px;
  border-radius: 10px;
  padding: 10px 10px 10px 68px;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #39425D;
  background-color: #fff;
  border: 2px solid transparent;
  -webkit-transition: border 0.3s ease, background-color 0.3s ease;
  transition: border 0.3s ease, background-color 0.3s ease;
}
.subscribe__input-email:hover {
  border: 2px solid #5E6282;
  background-color: #f8f7fb;
}
.subscribe__input-email::before {
  content: url(../assets/img/subscribe/subscribe-mail.svg);
  position: absolute;
  left: 31px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  line-height: 0;
}
.subscribe__input-email input {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-color: inherit;
  border: none;
  padding: 0;
  outline: none;
}
.subscribe__input-submit {
  width: 180px;
  height: 68px;
  padding: 15px 30px;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF946D), to(#FF7D68));
  background: linear-gradient(180deg, #FF946D 0%, #FF7D68 100%);
  border-radius: 10px;
  font-family: "Open Sans", sans-serif;
  font-size: 17px;
  font-weight: 600;
  color: #fff;
  border: none;
  outline: none;
  -webkit-transition: font-size 0.1s ease;
  transition: font-size 0.1s ease;
}
.subscribe__input-submit:focus, .subscribe__input-submit:hover {
  background: #5E6282;
  font-size: 19px;
}

@media (max-width: 1439.98px) {
  .container {
    max-width: 1140px;
  }
  .header .subheader-wrap {
    background: right top/65% no-repeat url(../assets/img/header/header-traveller-bg.png), 103% 15%/15% no-repeat url(../assets/img/plane.svg);
  }
  .header .subheader-wrap::after {
    top: 0;
    left: 46%;
  }
  .header__title {
    font-size: 76px;
  }
  .services__title::after {
    -webkit-transform: translate(0%, -50%);
            transform: translate(0%, -50%);
    right: -20px;
  }
  .subscribe__form::after {
    content: " + +\a+ +\a+ + +";
    height: auto;
    letter-spacing: 4px;
    line-height: 23px;
    -webkit-transform: translate(64%, 39%);
            transform: translate(64%, 39%);
    background-image: linear-gradient(225deg, #FF7152 0% 22%, rgba(255, 255, 255, 0) 22% 100%), radial-gradient(#6246e5 0% 22%, transparent 22% 100%), linear-gradient(to right, #E5E5E5 0% 100%);
  }
  .subscribe__input-email {
    width: 55%;
  }
}
@media (max-width: 1199.98px) {
  .container {
    max-width: 960px;
  }
  .title {
    font-size: 40px;
  }
  .header__title {
    font-size: 64px;
  }
  .header__top-title {
    font-size: 18px;
  }
  .header .subheader-wrap::after {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
    top: -8%;
    left: 43%;
  }
  .services__card {
    padding: 0 6% 10px;
  }
  .destinations__cards-wrap {
    gap: 20px;
  }
  .destinations__card:last-child {
    margin: 0 20px;
  }
  .destinations__card:last-child::after {
    right: -40px;
  }
  .booking {
    padding: 80px 0;
  }
  .booking__wrap {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .booking__col-text {
    max-width: 450px;
  }
  .booking__step {
    width: 90%;
  }
  .testimonials {
    padding: 80px 0;
  }
  .logos__item {
    padding: 10px 20px;
  }
  .subscribe__form {
    padding: 60px 80px;
  }
  .subscribe__form::after {
    content: none;
  }
  .subscribe__label-email {
    margin-bottom: 119px;
  }
  .subscribe__input-email {
    height: 60px;
  }
  .subscribe__input-submit {
    height: 60px;
  }
}
@media (max-width: 1199.98px) and (max-width: 991.98px) {
  .container {
    max-width: 720px;
    padding: 0 10px;
  }
  .header__nav {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 20px;
  }
  .header__nav nav {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .header__login {
    gap: 30px;
  }
  .header .subheader-wrap {
    padding: 40px 0;
    background: right top/60% no-repeat url(../assets/img/header/header-traveller-bg.png), 103% 10%/15% no-repeat url(../assets/img/plane.svg);
  }
  .header .subheader-wrap::after {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
    top: -9%;
    left: 42%;
  }
  .header__top-title {
    font-size: 16px;
  }
  .header__title {
    font-size: 50px;
  }
  .header__desc {
    padding: 0 15% 0 0;
  }
  .header__btn-wrap {
    gap: 24px;
  }
  .services {
    padding: 40px 0;
  }
  .services__title::after {
    content: none;
  }
  .services__cards-wrap {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 40px 55px;
    margin: 35px 0;
  }
  .services__card {
    padding: 0 14% 10px;
  }
  .destinations__cards-wrap {
    gap: 40px 25px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .destinations__card:last-child {
    margin: 0;
  }
  .destinations__card:last-child::after {
    content: none;
  }
  .booking {
    padding: 40px 0;
  }
  .booking__wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .booking__col-text {
    max-width: 100%;
  }
  .booking__top-title {
    text-align: center;
  }
  .booking__title {
    text-align: center;
  }
  .booking__step {
    width: 60%;
  }
  .booking__col-card {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    width: 100%;
  }
  .booking__col-card::before {
    content: none;
  }
  .booking__card {
    margin: 0 auto;
  }
  .testimonials {
    padding: 40px 0;
  }
  .testimonials__wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 40px;
  }
  .testimonials__col-titles {
    max-width: 100%;
  }
  .testimonials__top-title {
    text-align: center;
  }
  .testimonials__title {
    text-align: center;
  }
  .testimonials__col-comments {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
  }
  .logos {
    padding: 40px 0;
  }
  .logos__wrap {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .subscribe {
    padding: 40px 0;
  }
  .subscribe__form {
    min-height: 380px;
    padding: 60px 40px;
    border-radius: 60px 10px 10px 10px;
  }
  .subscribe__label-email {
    font-size: 28px;
    line-height: 50px;
    margin-bottom: 100px;
  }
  .subscribe__input-email {
    width: 100%;
  }
  .subscribe__input-submit {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 180px;
            flex: 0 0 180px;
  }
}
@media (max-width: 1199.98px) and (max-width: 767.98px) {
  .container {
    max-width: 550px;
  }
  .title {
    font-size: 36px;
  }
  .header__nav nav {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header__login {
    gap: 20px;
  }
  .header .subheader-wrap {
    padding: 30px 0;
    background: transparent;
  }
  .header .subheader-wrap::after {
    content: none;
  }
  .header__subheader-info {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    text-align: center;
  }
  .header__btn-wrap {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header__desc {
    padding-right: 0;
  }
  .services {
    padding: 30px 0;
  }
  .services__cards-wrap {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    gap: 2px;
    margin: 20px 0;
  }
  .services__card {
    padding: 0px 13% 10px;
  }
  .services__card-hover::before {
    content: none;
  }
  .booking__col-card {
    padding-right: 130px;
  }
  .testimonials__col-comments {
    padding-left: 34px;
  }
  .testimonials__comments-text {
    width: 100%;
  }
  .testimonials__wrap {
    gap: 60px;
  }
  .logos__wrap {
    gap: 10px;
  }
  .logos__item {
    padding: 10px;
  }
  .subscribe__form {
    min-height: 280px;
    padding: 30px 20px;
  }
  .subscribe__form::before {
    content: none;
  }
  .subscribe__label-email {
    font-size: 22px;
    line-height: 40px;
    margin-bottom: 80px;
  }
  .subscribe__input-email {
    padding: 10px 10px 10px 48px;
  }
  .subscribe__input-email::before {
    left: 14px;
  }
  .subscribe__input-submit {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
  }
}
@media (max-width: 1199.98px) and (max-width: 575.98px) {
  .container {
    max-width: 100%;
    padding: 0 4%;
  }
  .header__nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header__nav nav {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 10px;
    overflow: auto;
    width: 100%;
  }
  .header__login {
    padding-left: 0;
  }
  .header .subheader-wrap {
    padding: 30px 0;
  }
  .header__top-title {
    margin-bottom: 10px;
  }
  .header__title {
    margin-bottom: 20px;
  }
  .header__btn-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px;
    margin-top: 20px;
  }
  .header__label-play-demo {
    gap: 10px;
    font-size: 16px;
  }
  .services__cards-wrap {
    margin: 20px 0 0;
    gap: 10px;
  }
  .destinations {
    padding: 30px 0;
  }
  .destinations__cards-wrap {
    margin-top: 40px;
  }
  .booking {
    padding: 30px 0;
  }
  .booking__wrap {
    gap: 20px;
  }
  .booking__steps {
    gap: 40px;
  }
  .booking__step {
    width: 100%;
  }
  .booking__col-card {
    padding-right: 0;
  }
  .booking__card {
    padding: 16px;
  }
  .booking__card-pop-up {
    top: 0;
    left: 50%;
    -webkit-transform: translate(-50%, 41px);
            transform: translate(-50%, 41px);
    padding: 10px 10px 10px 70px;
    width: 240px;
    height: 110px;
  }
  .testimonials {
    padding: 30px 0;
  }
  .testimonials__comments-wrap {
    padding: 10px;
  }
  .testimonials__comments-wrap::before {
    top: -30px;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
  }
  .testimonials__col-comments {
    padding-left: 0;
  }
  .logos {
    padding: 30px 0;
  }
  .subscribe {
    padding: 30px 0;
  }
  .subscribe__form {
    min-height: 300px;
    border-radius: 30px 10px 10px 10px;
    padding: 10px 10px;
  }
  .subscribe__label-email {
    line-height: 32px;
    margin-bottom: 40px;
  }
  .subscribe__input-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .subscribe__input-submit {
    width: 100%;
  }
}/*# sourceMappingURL=style.css.map */