.about-us {
    position: relative;
    margin-bottom: 240px;

    &::before {
        content:
            " . . . . . . . . . . . . . . . . . . .\A  . . . . . . . . . . . . . . . . . . .\A  . . . . . . . . . . . . . . . . . . .\A  . . . . . . . . . . . . . . . . . . .\A  . . . . . . . . . . . . . . . . . . .\A  . . . . . . . . . . . . . . . . . . .\A  . . . . . . . . . . . . . . . . . . .\A  . . . . . . . . . . . . . . . . . . .\A  . . . . . . . . . . . . . . . . . . .\A  . . . . . . . . . . . . . . . . . . .\A  . . . . . . . . . . . . . . . . . . .\A  . . . . . . . . . . . . . . . . . . .\A  . . . . . . . . . . . . . . . . . . .\A  . . . . . . . . . . . . . . . . . . .\A  . . . . . . . . . . . . . . . . . . .\A  . . . . . . . . . . . . . . . . . . .\A  . . . . . . . . . . . . . . . . . . .";
        height: 150px;
        font-size: 22px;
        line-height: 8px;
        font-weight: 400;
        letter-spacing: 0px;
        color: #EBEBEB;
        white-space: pre;
        position: absolute;
        bottom: -212px;
        left: -10px;
    }

    &__wrap {
        display: flex;
        justify-content: space-between;
        gap: 140px;
    }

    &__image {
        height: 710px;
        position: relative;
        left: -34px;
        border: 2px solid #B0855B;
        border-radius: 140px 0px;
        flex: 0 1 55%;

        img {
            display: block;
            max-width: 100%;
            height: inherit;
            object-fit: cover;
            border-radius: 140px 0px;
            position: relative;
            top: 34px;
            left: 34px;
        }
    }

    &__info {
        flex: 0 1 45%;
    }

    &__sibetitle {
        font-weight: 600;
        margin: 20px 0 60px;
    }

    &__title {
        margin-bottom: 30px;
    }

    &__text {
        line-height: 30px;
        margin-bottom: 60px;
    }

    &__btn {
        padding: 14px 30px;
        border-radius: 20px 0;
        font-size: 18px;
    }
}

@media (max-width:1439.98px) {
    .about-us {
        &__wrap {
            gap: 80px;
        }

        &__title {
            font-size: 42px;
            line-height: 54px;
        }
    }
}

@media (max-width: 1199.98px) {
    .about-us {
        &__wrap {
            gap: 60px;
        }

        &__image {
            left: -20px;
            img {
                left: 20px;
                top: 20px;
            }
        }

        &__title {
            font-size: 36px;
        }
    }
}

@media (max-width: 991.98px) {
    .about-us {
        &__wrap {
            gap: 30px;
        }

        &__sibetitle {
            font-size: 16px;
            margin-bottom: 30px;
        }

        &__title {
            font-size: 29px;
            line-height: 44px;
            margin-bottom: 20px;
        }
        &__text {
            margin-bottom: 30px;
        }
    }
}