.header {
    min-height: 47px;
    margin: 50px 0;
    padding: 20px 0;
    background-color: #fff;
    position: sticky;
    top: 0;
    z-index: 100;

    &__wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__logo {
        line-height: 0;

        a {
            display: block;
            height: inherit;
        }
    }

    &__nav {
        margin-left: auto;

        ul {
            display: flex;
            gap: 16px;
            margin: 0;

            li {
                a {
                    display: block;
                    height: inherit;
                    padding: 8px 16px;
                    font-size: 16px;
                    font-weight: 600;
                    color: $color-black;
                    text-transform: uppercase;
                    border: 5px solid transparent;
                    border-radius: 20px;
                    transition: all .3s ease;

                    &:hover {
                        color: $color-green;
                        border: 5px solid $color-green;
                    }
                }
            }
        }
    }

    &__sign-up {
        display: block;
        padding: 7px 20px;
        border-radius: 15px 0 15px 0;
        background-color: $color-cream;
        color: #fff;
        margin-left: 60px;
        // margin-right: 14px;
        font-size: 16px;
        font-weight: 600;
        transition: transform .3s ease;

        &:hover {
            transform: scale(1.15);
        }
    }
}

@media (max-width:1439.98px) {
    .header {

        &__nav {
            margin: 0;
        }

        &__sign-up {
            margin-left: 0;
        }
    }
}

@media (max-width:1199.98px) {
    .header {
        &__sign-up {
            margin-right: 0;
        }

        &__wrap {
            flex-wrap: wrap;
            gap: 30px 40px;
        }

        &__logo {
            order: 1;
        }

        &__sign-up {
            order: 2;
        }

        &__nav {
            order: 3;
            width: 100%;
            margin: 0 auto;

            ul {
                justify-content: space-between;

                li:first-child {
                    a {
                        margin-left: -20px;
                    }
                }

                li:last-child {
                    a {
                        margin-right: -20px;
                    }
                }
            }

        }
    }
}

@media (max-width: 991.98px) {
    .header {
        &__nav {
            ul {
                gap: 10px;

                li {
                    a {
                        padding: 8px 12px;
                    }
                }
                li:first-child {
                    a {
                        margin-left: -16px;
                    }
                }

                li:last-child {
                    a {
                        margin-right: -16px;
                    }
                }
            }
        }
    }
}