.header {
    min-height: 47px;
    // margin: 50px 0;
    padding: 30px 0 40px;
    background-color: #fff;
    position: sticky;
    top: 0;
    z-index: 100;

    &__progress-bar {
        width: 100%;
        height: 10px;
        background-color: $color-cream;
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 5;
    }

    &__progress-stage {
        width: 0;
        height: 10px;
        background-color: $color-grey;
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 10;
    }

    &__burger-menu-icon {
        display: none;
    }

    &__wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__logo {
        line-height: 0;

        a {
            display: block;
            height: inherit;
        }
    }

    &__nav {
        margin-left: auto;

        ul {
            display: flex;
            gap: 16px;
            margin: 0;
        }
    }

    &__link {
        display: block;
        height: inherit;
        padding: 8px 16px;
        font-size: 16px;
        font-weight: 600;
        color: $color-black;
        text-transform: uppercase;
        border: 5px solid transparent;
        border-radius: 20px;
        transition: all .3s ease;

        &:hover {
            color: $color-green;
            border: 5px solid $color-green;
        }
    }

    &__sign-up {
        display: block;
        padding: 7px 20px;
        border-radius: 15px 0 15px 0;
        background-color: $color-cream;
        color: #fff;
        margin-left: 60px;
        font-size: 16px;
        font-weight: 600;
        transition: transform .3s ease;

        &:hover {
            transform: scale(1.15);
        }
    }
}

@media (max-width:1439.98px) {
    .header {

        &__nav {
            margin: 0;
        }

        &__sign-up {
            margin-left: 0;
        }
    }
}

@media (max-width:1199.98px) {
    .header {
        &__sign-up {
            margin-right: 0;
        }

        &__wrap {
            flex-wrap: wrap;
            gap: 30px 40px;
        }

        &__logo {
            order: 1;
        }

        &__sign-up {
            order: 2;
        }

        &__nav {
            order: 3;
            width: 100%;
            margin: 0 auto;

            ul {
                justify-content: space-between;

                li:first-child {
                    a.header__link {
                        margin-left: -20px;
                    }
                }

                li:last-child {
                    a.header__link {
                        margin-right: -20px;
                    }
                }
            }

        }
    }
}

@media (max-width: 991.98px) {
    .header {
        &__nav {
            ul {
                gap: 10px;

                li {
                    a.header__link {
                        padding: 8px 12px;
                    }
                }

                li:first-child {
                    a.header__link {
                        margin-left: -16px;
                    }
                }

                li:last-child {
                    a.header__link {
                        margin-right: -16px;
                    }
                }
            }
        }
    }
}

@media (max-width: 759.98px) {
    .header {
        margin: 0;

        &__logo {
            z-index: 5;
        }

        &__sign-up {
            z-index: 5;
        }

        &__burger-menu-icon {
            display: block;
            position: relative;
            z-index: 5;
            width: 44px;
            height: 30px;
            cursor: pointer;

            span,
            &::before,
            &::after {
                position: absolute;
                left: 0;
                height: 10%;
                width: 100%;
                transition: all .3s ease;
                background-color: $color-cream;

            }

            &::before,
            &::after {
                content: "";
            }

            &::before {
                top: 0;
            }

            &::after {
                bottom: 0;
            }

            span {
                top: 50%;
                transform: scale(1) translate(0, -50%);
            }
        }

        &__burger-menu-icon._active {
            span {
                transform: scale(0);
            }

            &::before {
                top: 50%;
                transform: rotate(45deg) translate(0, -50%);
            }

            &::after {
                bottom: 50%;
                transform: rotate(-45deg) translate(0, 50%);
            }
        }

        &__nav {
            position: fixed;
            top: 0;
            left: -100%;
            width: 100%;
            height: 100%;
            background-color: rgba(234, 224, 224, 0.97);
            padding: 110px 30px 30px 50px;
            transition: left 0.4s ease;
            overflow: auto;

            &::before {
                content: "";
                position: fixed;
                top: 0;
                left: 0;
                width: 100%;
                height: 97px;
                background-color: transparent;
                transition: background-color 0.3s ease;
                transition-delay: .4s;
            }

            ul {
                flex-direction: column;

                li {
                    a.header__link {
                        width: min-content;
                        border-radius: 15px 0;
                        border: 4px solid transparent;

                        &:hover {
                            color: $color-green;
                            border: 4px solid $color-cream;
                        }
                    }
                }

                li:first-child {
                    a.header__link {
                        margin-left: 0;
                    }
                }

                li:last-child {
                    a.header__link {
                        margin-right: 0;
                    }
                }
            }
        }

        &__nav._active {
            left: 0;

            &::before {
                background-color: #d9c4c4;
            }
        }
    }
}