.sign-up {
    position: relative;
    padding: 90px 0;

    &::before {
        content:
            " . . . . . . . . . . . . . . . . . . .\A  . . . . . . . . . . . . . . . . . . .\A  . . . . . . . . . . . . . . . . . . .\A  . . . . . . . . . . . . . . . . . . .\A  . . . . . . . . . . . . . . . . . . .\A  . . . . . . . . . . . . . . . . . . .\A  . . . . . . . . . . . . . . . . . . .\A  . . . . . . . . . . . . . . . . . . .\A  . . . . . . . . . . . . . . . . . . .\A  . . . . . . . . . . . . . . . . . . .\A  . . . . . . . . . . . . . . . . . . .\A  . . . . . . . . . . . . . . . . . . .\A  . . . . . . . . . . . . . . . . . . .\A  . . . . . . . . . . . . . . . . . . .\A  . . . . . . . . . . . . . . . . . . .\A  . . . . . . . . . . . . . . . . . . .\A  . . . . . . . . . . . . . . . . . . .";
        height: 150px;
        font-size: 22px;
        line-height: 8px;
        font-weight: 400;
        letter-spacing: 0px;
        color: #EBEBEB;
        white-space: pre;
        position: absolute;
        z-index: 2;
        bottom: 0px;
        left: -10px;
        transform: translate(0, 50%);
    }

    &__wrap {
        margin: 0 auto;
        max-width: 772px;
    }

    &__title {
        margin-bottom: 50px;
        position: relative;
        text-align: center;
        line-height: 100px;

        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 50%;
            width: 55%;
            height: 1px;
            background-color: #C4C4C4;
            transform: translate(-50%, 0);
        }
    }

    &__text {
        margin: 0 auto 40px;
        text-align: center;
        width: 85%;
        line-height: 28px;
    }

    &__name-error,
    &__last-name-error,
    &__email-error {
        text-align: center;
        font-size: 24px;
        line-height: 40px;
        color: red;
    }

    &__form {
        display: flex;
        flex-wrap: wrap;
        padding: 30px;
        border-radius: 50px 0;
        gap: 60px 12%;
        border: 3px solid transparent;
        transition: border .4s ease;
    }

    &__input {
        height: 48px;
        background: #EEEEEE;
        border-radius: 20px 0px;
        padding: 10px 20px 10px 30px;
        border: none;
    }

    &__input_name {
        flex: 0 1 44%;
    }

    &__input_last-name {
        flex: 0 1 44%;
    }

    &__input_email {
        flex: 0 1 100%;
    }

    &__input-submit {
        margin: 0 auto;
        padding: 14px 30px 14px 50px;
        border-radius: 0 0 20px 0;
        font-size: 18px;
        border: none;
        cursor: pointer;
    }
}

@media (max-width:1439.98px) {
    .sign-up {

        &__title {
            font-size: 42px;

            &::after {
                width: 45%;
            }
        }
    }
}

@media (max-width: 1199.98px) {
    .sign-up {

        &__title {
            font-size: 36px;

            &::after {
                width: 38%;
            }
        }
    }
}

@media (max-width: 991.98px) {
    .sign-up {

        &__title {
            font-size: 29px;

            &::after {
                width: 34%;
            }
        }

    }
}