@import './fonts';
@import './variables';
@import '../css/normalize.css';

body {
    font-family: 'Open Sans', sans-serif;
    font-size: $fz-text;
    color: $color-grey;
    background-color: #fff;
}

p {
    margin: 0;
}

button,
select {
    cursor: pointer;
}

.btn {
    @extend %btn;
    transition: transform .3s ease;

    &:hover {
        transform: scale(1.15);
    }
}

.title {
    @extend %section-title;
}

.subtitle {
    @extend %section-subtitle;
}

.wrapper {
    position: relative;
}

.container {
    max-width: 1440px;
    padding: 0 20px;
    margin: 0 auto;
}

@media (max-width:1639.98px) {
    .container {
        max-width: 1340px;
    }
}

@media (max-width:1439.98px) {
    .container {
        max-width: 1140px;
    }
}

//tablet
@media (max-width: 1199.98px) {
    .container {
        max-width: 960px;
    }
}

@media (max-width: 991.98px) {
    .container {
        max-width: 720px;
        padding: 0 10px;
    }
}

// mobile
@media (max-width: 759.98px) {
    .container {
        max-width: 550px;
    }
}

@media (max-width: 575.98px) {
    .container {
        max-width: 100%;
        padding: 0 4%;
    }
}

.logo {
    cursor: pointer;
}

@import './header';
@import './interior';
@import './what-we-do';
@import './about-us';
@import './underAbout-us';
@import './completed-work';
@import './testimonials';