.PageNotFound {
    padding: 203px 0;
    background: url(../../../public/img/PageNotFound-bg1.svg) no-repeat center center / cover,
        url(../../../public/img/PageNotFound-bg2.jpg) no-repeat center center / cover;

    &__wrap {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    &__info {
        flex: 0 1 max-content;
        padding-left: 40px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 20px;
    }

    &__info-img {
        img {
            display: block;
            max-width: 100%;
            height: auto;
        }
    }

    &__text {
        margin-bottom: 20px;
    }

    &__btn {
        margin-right: auto;
    }

}