@import '../../scss/variables';

.AboutUs {
    width: 100%;
    background: $snow url(../../../public/img/AboutUs-bg.jpg) no-repeat center center / contain;

    &__wrap {
        height: 1067px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    &__block {
        flex: 0 1 50%;
    }

    &__title-label {
        margin-bottom: 10px;

    }

    &__title {
        margin-bottom: 14px;
    }

    &__text {
        margin-bottom: 46px;
    }

    &__our-advantages {
        display: flex;
        flex-direction: column;
        gap: 32px;
        margin-bottom: 46px;
    }

    &__advantage-block {
        display: flex;
        gap: 19px;
    }

    &__advantage-img {
        width: 101px;
        height: 101px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #fff;
        border-radius: 20px;
    }

    &__advantage-info {
        width: 63%;
    }
}